////// GLOBAL Styles
body{
    font-family: Roboto;
    background-color: #2c327d;
    height: 200vh;
}

.container{
    width: 1140px;
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-size: 1em;
    line-height: 1.5em;
    color: lighten(black, 70%);
}


////// LOCAL Styles
#navbar{
    position: fixed;
    width: 100%;

    &.aos-init{
        opacity: 0.7;
        background-color: transparent;
        transition: background-color 0.5s, opacity 0.8s, border-bottom-color 0.5s;
        border-bottom: 3px solid transparent;
    }
    
    &.aos-animate{
        opacity: 1;
        background-color: darken(#2c327d, 4%);
        border-bottom-color: white;
    }

    .container{
        display: table;
        height: 5em;
        
        @media screen and (max-width: 1200px){
            width: 800px;
        }

        >ul{
            display: table-row;

            >li{
                display: table-cell;
                vertical-align: middle;

                &.burger{
                    display: none;
                    font-size: 1.8em;
                    text-align: center;
                }

                @media screen and (max-width: 1200px){
                        display: none;

                        &.burger, &.brand{
                            display: table-cell;
                        }
                }

                &.dropdown{
                    position: relative;
                    
                    >ul{
                        position: absolute;
                        top: 5em;
                        display: none;
                    }
                    
                    >a:hover+ul{
                        display: block;
                    }
                }

                &.brand{
                    padding-right: 10%;
                }

            }
        }
    }
}