.viber-app{
    background-color: #161F26;
    color: white;
}   

.status-bar{
    height: 30px;
}

.status-bar i{
    line-height: 30px;
    padding-right: 6px;
    float: right;
    color: white;
}

.icon{
    color: #705CF2;
}

.top-bar{
    height: 42px;
    padding-top: 15px;
    /* border-bottom: 1px solid #626B73; */
}    

.top-bar>label{
    font-size: 26px;
    color: white;
    font-weight: 600;
    padding-left: 10px;
}

.top-bar input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #705cf2;
    width: 50%;
    height: 22px;
    position: relative;
    top: -6px;
    left: 10px;
}

.top-bar>.icon{
    float: right;
    font-size: 24px;
    padding-right: 10px;
}

.chat-contacts__contact{
    padding: 10px 10px 13px;
    height: 85px;
    border-bottom: 1px solid #626B73;    
}

.chat-contacts__contact:first-child{
    border-top: 1px solid #626B73;    
}

.chat-contacts__message .fa-check-circle{
    color: #705CF2;
    border-radius: 50%;
    background-color: #fff;
    /* border: 1px solid #705CF2; */
}

.chat-contacts__preview{
    float: left;
    width: 77%;
}

.chat-contacts__preview h3{
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
}

.chat-contacts__preview p{
    margin-top: 12px;
    height: 47px;
    font-size: 18px;
    font-weight: 400;
    color: #626B73;
}

.chat-contacts__preview p b{
    font-weight: 700;
}

.chat-contacts__avatar{
    width: 85px;
    height: 85px;
    float: left;
    padding-right: 10px;
    /* line-height: 85px; */
}

.chat-contacts__timestamp{
    float: right;
    font-size: 18px;
    margin-top: 8px;
    text-align: center;
}

.chat-contacts__status--unread{
    margin-bottom: 15px;
}

.chat-contacts__status--read{
   
}

.chat-contacts__status--unread .fa-check,
.chat-contacts__status--read .fa-check{
    color: #626B73;
}

.chat-contacts__status--unread .fa-check:first-child{
    filter: drop-shadow(1px 1px 2px #000);
    margin-right: -11px;
}

.chat-contacts__status--unread time{
    color: #705CF2;
}

.chat-contacts__counter{
    border-radius: 15px;
    background-color: #705CF2;
    padding: 5px 10px;
}