body{
    background-color: #333;
    margin:0;
}
/* Размер менялся в зависимости от высоты экрана из-за единиц vh. Единицы vmax позволяют ссылаться к большей или меньшей стороне экрана. */
.widget{
    width: 20vmax;
    height: 20vmax;
    margin: 30vmin auto;
    background-color: green;
}
