body{
    background-color: #494949;
    /* padding: 200px; */
    font-family: sans-serif;
    font-weight: bold;
}

.round-menu{
    border-radius: 100%;
    width: 400px;
    height: 400px;
    background-color: #696969;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    box-shadow: inset 1px 1px 4px 3px #0007;
}

.round-menu a{
    display: block;
    color: white;
    transform: skew(-45deg);
    width: inherit;
    height: inherit;
    text-decoration: none;
    /* transform-origin: 20px 0; */

}

.round-menu li{
    border: 1px solid #8989896e;
    width: 400px;
    height: 400px;
    position: absolute;
    transform-origin: 0 0;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transition: all 0.1s;
}

.round-menu li:hover{
    background-color: #87878f5b;
}

.round-menu li:nth-child(1){
    /* background-color: red; */
    transform: rotate(157.5deg) skew(45deg);
}

.round-menu li:nth-child(2){
    /* background-color: red; */
    transform: rotate(202.5deg) skew(45deg);
}

.round-menu li:nth-child(3){
    /* background-color: red; */
    transform: rotate(247.5deg) skew(45deg);
}

.round-menu li:nth-child(4){
    /* background-color: red; */
    transform: rotate(292.5deg) skew(45deg);
}

.round-menu li:nth-child(5){
    /* background-color: red; */
    transform: rotate(337.5deg) skew(45deg);
}

.round-menu li:nth-child(6){
    /* background-color: red; */
    transform: rotate(382.5deg) skew(45deg);
}

.round-menu li:nth-child(7){
    /* background-color: red; */
    transform: rotate(427.5deg) skew(45deg);
}

.round-menu li:nth-child(8){
    /* background-color: red; */
    transform: rotate(472.5deg) skew(45deg);
}


/* BUTTON */

.round-menu li:nth-child(9){
    width: 230px;
    height: 230px;
    border-radius: 100%;
    background: linear-gradient(0deg, #dbdbdb, white);
    box-shadow: 2px 3px 12px 1px #0007;
    top: 85px;
    left: 85px;
    opacity: 1;
    overflow: visible;
}

.round-menu li:nth-child(9) a{
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 100%;
    width: 218px;
    height: 218px;
}

.round-menu li:nth-child(9) a{
    transform: skew(0);
}

.round-menu i{
    display: block;
    position: absolute;
    font-size: 25px;
    text-shadow: 1px 1px 2px #0005;    
}

.round-menu li:hover i{
    color: #91ffb4;
}

.round-menu li:nth-child(1) i{
    /* background-color: red; */
    transform: translateX(-70px) translateY(50px) rotate(203deg);
    
}

.round-menu li:nth-child(2) i{
    /* background-color: red; */
    transform: translateX(-70px) translateY(50px) rotate(158deg);
    
}

.round-menu li:nth-child(3) i{
    /* background-color: red; */
    transform: translateX(-70px) translateY(50px) rotate(113deg);
    
}

.round-menu li:nth-child(4) i{
    /* background-color: red; */
    transform: translateX(-70px) translateY(50px) rotate(68deg);
    
}

.round-menu li:nth-child(5) i{
    /* background-color: red; */
    transform: translateX(-70px) translateY(50px) rotate(22deg);
    
}

.round-menu li:nth-child(6) i{
    /* background-color: red; */
    transform: translateX(-70px) translateY(50px) rotate(-23deg);
    
}

.round-menu li:nth-child(7) i{
    /* background-color: red; */
    transform: translateX(-70px) translateY(50px) rotate(-68deg);
    
}

.round-menu li:nth-child(8) i{
    /* background-color: red; */
    transform: translateX(-70px) translateY(50px) rotate(-113deg);
}

.round-menu .choice-arrow__container{
    position: relative;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(66deg);
}

.round-menu .choice-arrow{
    background-color: white;
    width: 28px;
    height: 20px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom-right-radius: 5px;
    /* border-radius: 0 0 0 0; */
    transform: skew(42deg);
}

.round-menu .choice-body{
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 27px;
    height: 27px;
    border: 1px solid #f3f3f3;
    border-radius: 100%;
    background: linear-gradient(0deg, rgb(224, 224, 224), white);
    box-shadow: 1px 2px 3px rgb(207, 206, 206);
    /* background-color: red; */
    z-index: 1;
}

.round-menu .choice-body__inner{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #f5f5f5;
    border-radius: 100%;
    background: linear-gradient(0deg, rgb(240, 240, 240), rgb(216, 216, 216))
}


/* 

    NOTIFICATIONS

*/

.notification{
    color: red;
    background-color: yellow;
    padding: 7px 10px;
    display: block;
    position: absolute;
    top: 50px
}